# DATA HANDLING WITH PNDAS

<section>There is 3 steps which always must be done when we handle data in pandas:</section>
<ol>
    <li>DATA PREPARITION</li>
    <li>DATA TRANSFORMATION</li>
    <li>DATA AGGREGATION</li>
</ol>

## DATA PREPARITION

Mostly this kind of operations are invlved:
<ol>
    <li>Loading</li>
    <li>Assembling</li>
    <li><b><u>Merging</u></b></li>
    <li>Concatenating</li>
    <li>Combining</li>
    <li>Reshaping</li>
    <li>Removing</li>
</ol>

In [5]:
import numpy as np
import pandas as pd
import mysql.connector as mysql
dbCon = mysql.connect(host='localhost',user='root',password='AN003722040592la',database='sap_export_30')
# qry = "SELECT * FROM ltap LIMIT 100"
qry = "SELECT * FROM hr_dev.berkatok;"
dfto = pd.read_sql(qry,dbCon)
#qry = "SELECT * FROM invntry.usr_tbl;"
qry = "SELECT * FROM invntry.usr_tbl;"
dfusr = pd.read_sql(qry,dbCon)

In [6]:
dfto.head()

   mrkt_id                                           mrkt_lrs
0        1    [72, 97, 118, 105, 98, 195, 169, 114, 101, 115]
1        2   [195, 147, 114, 97, 98, 195, 169, 114, 101, 115]
2        3    [70, 105, 120, 32, 98, 195, 169, 114, 101, 115]
3        4  [69, 103, 121, 195, 169, 98, 32, 98, 195, 169,...
4      999  [77, 101, 103, 104, 97, 116, 195, 161, 114, 11...

In [ ]:
# Kind of interesting thing:
# is the databse has collation: bi [= bINARY] then we getback
# BYTEARRAY, an not sting, here we convert them back to strings 
dfusr['saplogin'] = dfusr['saplogin'].str.decode('utf-8')
dfusr['teljNev'] = dfusr['teljNev'].str.decode('utf-8')
dfusr['teamNev'] = dfusr['teamNev'].str.decode('utf-8')

In [ ]:
dfusr.head()

In [ ]:
dfto.head(1)
dfto.info

In [ ]:
pd.merge(dfto,dfusr,left_on='cnfUsr',right_on='saplogin')

In [ ]:
# MERGE = JOIN
# Syntax:
# pd.merge(Table_A, Table_B,columnA,columnB,[left,right,outer,inner])
#dfMrgd = pd.merge(dfto,dfusr,left_on='cnfUsr',right_on='saplogin')
dfMrgd = pd.merge(dfto,dfusr,left_on='cnfUsr',right_on='saplogin',how='right')
#dfMrgd = pd.merge(dfto,dfusr,left_on='cnfUsr',right_on='saplogin',how='left')

In [ ]:
dfMrgd.head()

In [ ]:
dfMrgd.info()
dfMrgd.shape

## Lets see some PIVOTing

<em style="font-weight:bold;color:#FF6666;font-size:18px;">Stacking</em> = rotates of pivots the dataframe, converting columns to rows<br>
<em style="font-weight:bold;color:#FF6666;font-size:18px;">Unstacking</em> = Converts rows into columns

In [8]:
frame = pd.DataFrame(np.arange(9).reshape(3,3),index=['fehér','fekete','vörös'],columns=['labda','toll','ceruza'])

In [9]:
frame

        labda  toll  ceruza
fehér       0     1       2
fekete      3     4       5
vörös       6     7       8

In [10]:
ser5 = frame.stack()

In [11]:
ser5

fehér   labda     0
        toll      1
        ceruza    2
fekete  labda     3
        toll      4
        ceruza    5
vörös   labda     6
        toll      7
        ceruza    8
dtype: int64

In [12]:
ser6 = frame.unstack()

In [13]:
ser6

labda   fehér     0
        fekete    3
        vörös     6
toll    fehér     1
        fekete    4
        vörös     7
ceruza  fehér     2
        fekete    5
        vörös     8
dtype: int64

In [14]:
ser7 = ser5.unstack()

In [15]:
ser7

        labda  toll  ceruza
fehér       0     1       2
fekete      3     4       5
vörös       6     7       8

In [16]:
ser8 = ser5.unstack(0)

In [17]:
ser8

        fehér  fekete  vörös
labda       0       3      6
toll        1       4      7
ceruza      2       5      8

In [19]:
# In case of unstack we can give the number of the column genertor index among the hierarchical indices
ser8 = ser5.unstack(1)

In [20]:
ser8

        labda  toll  ceruza
fehér       0     1       2
fekete      3     4       5
vörös       6     7       8