# STARSMODEL API - Marcos statistical estmator
# Some basic tutorials from statsmodel.api
## OLS regression using formulas

In [3]:
import statsmodels.api as sm
import statsmodels.formula.api as sfm
import numpy as np
import pandas as pd

In [5]:
# Just for info check available models
dir(sfm)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'gee',
 'glm',
 'glmgam',
 'gls',
 'glsar',
 'logit',
 'mixedlm',
 'mnlogit',
 'negativebinomial',
 'nominal_gee',
 'ols',
 'ordinal_gee',
 'phreg',
 'poisson',
 'probit',
 'quantreg',
 'rlm',
 'wls']

In [6]:
# Lets import a preshipped dataset
df = sm.datasets.get_rdataset('Guerry','HistData').data

In [7]:
df.head()

,dept,Region,Department,Crime_pers,Crime_prop,Literacy,Donations,Infants,Suicides,MainCity,...,Crime_parents,Infanticide,Donation_clergy,Lottery,Desertion,Instruction,Prostitutes,Distance,Area,Pop1831
0,1,E,Ain,28870,15890,37,5098,33120,35039,2:Med,...,71,60,69,41,55,46,13,218.372,5762,346.03
1,2,N,Aisne,26226,5521,51,8901,14572,12831,2:Med,...,4,82,36,38,82,24,327,65.945,7369,513.00
2,3,C,Allier,26747,7925,13,10973,17044,114121,2:Med,...,46,42,76,66,16,85,34,161.927,7340,298.26
3,4,E,Basses-Alpes,12935,7289,46,2733,23018,14238,1:Sm,...,70,12,37,80,32,29,2,351.399,6925,155.90
4,5,E,Hautes-Alpes,17488,8174,69,6962,23076,16171,1:Sm,...,22,23,64,79,35,7,1,320.280,5549,129.10

In [9]:
df.shape

(86, 23)

In [11]:
df.isnull().sum()
df.isna().sum()

dept               0
Region             1
Department         0
Crime_pers         0
Crime_prop         0
Literacy           0
Donations          0
Infants            0
Suicides           0
MainCity           0
Wealth             0
Commerce           0
Clergy             0
Crime_parents      0
Infanticide        0
Donation_clergy    0
Lottery            0
Desertion          0
Instruction        0
Prostitutes        0
Distance           0
Area               0
Pop1831            0
dtype: int64

In [12]:
print(df.describe())

             dept    Crime_pers    Crime_prop   Literacy     Donations  \
count   86.000000     86.000000     86.000000  86.000000     86.000000
mean    46.883721  19754.406977   7843.058140  39.255814   7075.546512
std     30.426157   7504.703073   3051.352839  17.364051   5834.595216
min      1.000000   2199.000000   1368.000000  12.000000   1246.000000
25%     24.250000  14156.250000   5933.000000  25.000000   3446.750000
50%     45.500000  18748.500000   7595.000000  38.000000   5020.000000
75%     66.750000  25937.500000   9182.250000  51.750000   9446.750000
max    200.000000  37014.000000  20235.000000  74.000000  37015.000000

            Infants       Suicides     Wealth   Commerce     Clergy  \
count     86.000000      86.000000  86.000000  86.000000  86.000000
mean   19049.906977   36522.604651  43.500000  42.802326  43.430233
std     8820.233546   31312.532649  24.969982  25.028370  24.999549
min     2660.000000    3460.000000   1.000000   1.000000   1.000000
25%    14299.750000   15463.000000  22.250000  21.250000  22.250000
50%    17141.500000   26743.500000  43.500000  42.500000  43.500000
75%    22682.250000   44057.500000  64.750000  63.750000  64.750000
max    62486.000000  163241.000000  86.000000  86.000000  86.000000

       Crime_parents  Infanticide  Donation_clergy    Lottery  Desertion  \
count      86.000000    86.000000        86.000000  86.000000  86.000000
mean       43.500000    43.511628        43.500000  43.500000  43.500000
std        24.969982    24.948297        24.969982  24.969982  24.969982
min         1.000000     1.000000         1.000000   1.000000   1.000000
25%        22.250000    22.250000        22.250000  22.250000  22.250000
50%        43.500000    43.500000        43.500000  43.500000  43.500000
75%        64.750000    64.750000        64.750000  64.750000  64.750000
max        86.000000    86.000000        86.000000  86.000000  86.000000

       Instruction  Prostitutes    Distance          Area     Pop1831
count    86.000000    86.000000   86.000000     86.000000   86.000000
mean     43.127907   141.872093  207.953140   6146.988372  378.628721
std      24.799809   520.969318  109.320837   1398.246620  148.777230
min       1.000000     0.000000    0.000000    762.000000  129.100000
25%      23.250000     6.000000  121.383000   5400.750000  283.005000
50%      41.500000    33.000000  200.616000   6070.500000  346.165000
75%      64.750000   113.750000  289.670500   6816.500000  444.407500
max      86.000000  4744.000000  539.213000  10000.000000  989.940000

In [14]:
# Lets minmize a bit our dataset:
df  = df[['Lottery','Literacy','Wealth','Region']].dropna()
df.head()

   Lottery  Literacy  Wealth Region
0       41        37      73      E
1       38        51      22      N
2       66        13      61      C
3       80        46      76      E
4       79        69      83      E

In [18]:
# A very quick&dirty modeling with "formula"
modl = sfm.ols(formula="Lottery ~ Literacy + Wealth + Region",data=df)
res = modl.fit()
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                Lottery   R-squared:                       0.338
Model:                            OLS   Adj. R-squared:                  0.287
Method:                 Least Squares   F-statistic:                     6.636
Date:                Sun, 22 Nov 2020   Prob (F-statistic):           1.07e-05
Time:                        16:04:50   Log-Likelihood:                -375.30
No. Observations:                  85   AIC:                             764.6
Df Residuals:                      78   BIC:                             781.7
Df Model:                           6
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept      38.6517      9.456      4.087      0.000      19.826      57.478
Region[T.E]   -15.4278      9.727     -1.586      0.117     -34.793       3.938
Region[T.N]   -10.0170      9.260     -1.082      0.283     -28.453       8.419
Region[T.S]    -4.5483      7.279     -0.625      0.534     -19.039       9.943
Region[T.W]   -10.0913      7.196     -1.402      0.165     -24.418       4.235
Literacy       -0.1858      0.210     -0.886      0.378      -0.603       0.232
Wealth          0.4515      0.103      4.390      0.000       0.247       0.656
==============================================================================
Omnibus:                        3.049   Durbin-Watson:                   1.785
Prob(Omnibus):                  0.218   Jarque-Bera (JB):                2.694
Skew:                          -0.340   Prob(JB):                        0.260
Kurtosis:                       2.454   Cond. No.                         371.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [20]:
# Lets see some elements:
# R-squared: value between 0-100% how many percentage our model explains the variable/result changes, now it 
# is about 33,8% => bullshit
#======================================================================================================
# Ajd. R-squared: normal R squre always better if additional vaiables added. But adjusted R square calcuated 
# on a differetn way which gurantees, that its value only grows, if the newly added variable really improves
# the models result. Inthis case it is 0,287 which i worse than the R squar :(
# Based on this, if we have great difference between R-squr, and Adj,R-squr, that possibly means, that
# we have some unneccessary variables integrated in our model.
#======================================================================================================
# F-statistic: basically we compare here the variances (squared devianace) of two datasets. The 0 hypthese
# is that the variance is the same for the two sets. In this case one of the sets is our model with the 
# variables, and the second is the model stripped from vaiables containig only the intercept value 
# (all coefficients evaluated to zero ...).
# If we would have the same variance, then that would mean, that the variables we have no any effect on
# the result/target variable, so our model is bullshit. 
# High F statistic value means big difference, so, it signs that the model is good. 
#========================================================================================================
# P value = Prob(F statistic) means the probality of the case that null hypothesys (same variance fo zero
# coefficient model, and our model) is TRUE. So this is the lower the better. Generally the threshold for
# acceptable p value (significance of our model) is 0,05, values below this means OK, above this, means 
# bullshit.
#========================================================================================================
# The last meaningful elments are the t-test ones below. In case of t-test we check the relation between
# the features sparately to the result varible, and not as a whole. We examine them one by one.
# Besides this the nullhypothesys is the same: the feature is zero (more exactly its coefficiant is zero),
# and the target variable has the value we got. 
# Of course if this hypothesys is acceptable, our model wrong, or at least, the feature has no relation 
# to the target variable. Th evaluation is the same, the higher the t value, the more probable that the
# null hypothesys must be rejected! 
# There is an assicated p value as well in the next column (P>|t|), which also means the same as for F 
# statistics, it is a probability indicator for an acceptable null hypothesys => the lower the better.

### An extra note on categorical variables
In this model it is very nice, that without any problem, it has treated the "Region" feature as acategorical value. We can sse this from the summary. This happened because the values in "Region" feature are strings.
If we would have integer values instead of strings (as it is required for sklearn linearRegression models), 
we can use the 'C' operator to achive something like this decidedly.

In [21]:
modl = sfm.ols(formula="Lottery ~ Literacy + Wealth + C(Region)",data=df)

B the way the "~" opertor deistincts here between the target variable, and the features.