In [1]:
#import neccessary libraries
import pandas as pd
import quandl

In [5]:
# get an experimetal dataset with Quandl
#df = quandl.get('WIKI/GOOGL')
df = pd.read_csv("GOOGL02.csv")

In [6]:
# Lets see our dataset
df.head(5)
# and write it ro local file....
#df.to_csv('D:/PROGRAMOK/PYTHON/JUPYTER_NBS/DATA/GOOGL00.csv')

,Unnamed: 0,Date,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume,HL_PCT,PCT_change
0,0,2004-08-19,50.159839,52.191109,48.128568,50.322842,44659000.0,3.712563,0.324968
1,1,2004-08-20,50.661387,54.708881,50.405597,54.322689,22834300.0,0.710922,7.227007
2,2,2004-08-23,55.551482,56.915693,54.693835,54.869377,18256100.0,3.729433,-1.227880
3,3,2004-08-24,55.792225,55.972783,51.945350,52.597363,15247300.0,6.417469,-5.726357
4,4,2004-08-25,52.542193,54.167209,52.100830,53.164113,9188600.0,1.886792,1.183658

In [ ]:
df01 = df[['Adj. Open','Adj. High','Adj. Low','Adj. Close','Adj. Volume']]

In [ ]:
df01.head(5)

In [ ]:
#Lets write the corrected data frame
df01.to_csv('D:/PROGRAMOK/PYTHON/JUPYTER_NBS/DATA/GOOGL01.csv')
#Lets read back
df = pd.read_csv('D:/PROGRAMOK/PYTHON/JUPYTER_NBS/DATA/GOOGL01.csv')

In [ ]:
#Add a new column to see if at the end of day we win or loose
df['HL_PCT'] = ((df['Adj. High'] - df['Adj. Close'])/df['Adj. Close'])*100.0

In [ ]:
df.to_csv('D:/PROGRAMOK/PYTHON/JUPYTER_NBS/DATA/GOOGL02.csv')

In [ ]:
df.head(5)

In [ ]:
#Add a new column to see if at the end of day we win or loose
df['PCT_change'] = ((df['Adj. Close'] - df['Adj. Open'])/df['Adj. Open'])*100.0
df.to_csv('D:/PROGRAMOK/PYTHON/JUPYTER_NBS/DATA/GOOGL02.csv')
df.head(5)

In [8]:
df = pd.read_csv('GOOGL02.csv')
df.head(5)

,Unnamed: 0,Date,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume,HL_PCT,PCT_change
0,0,2004-08-19,50.159839,52.191109,48.128568,50.322842,44659000.0,3.712563,0.324968
1,1,2004-08-20,50.661387,54.708881,50.405597,54.322689,22834300.0,0.710922,7.227007
2,2,2004-08-23,55.551482,56.915693,54.693835,54.869377,18256100.0,3.729433,-1.227880
3,3,2004-08-24,55.792225,55.972783,51.945350,52.597363,15247300.0,6.417469,-5.726357
4,4,2004-08-25,52.542193,54.167209,52.100830,53.164113,9188600.0,1.886792,1.183658