In [18]:
#import neccessary libraries
import pandas as pd
import quandl

In [24]:
# get an experimetal dataset with Quandl
#df = quandl.get('WIKI/GOOGL')
df = pd.read_csv("GOOGL02.csv")

In [20]:
# Lets see our dataset
df.head(5)
# and write it ro local file....
#df.to_csv('D:/PROGRAMOK/PYTHON/JUPYTER_NBS/DATA/GOOGL00.csv')

,Unnamed: 0,Date,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume,HL_PCT,PCT_change
0,0,2004-08-19,50.159839,52.191109,48.128568,50.322842,44659000.0,3.712563,0.324968
1,1,2004-08-20,50.661387,54.708881,50.405597,54.322689,22834300.0,0.710922,7.227007
2,2,2004-08-23,55.551482,56.915693,54.693835,54.869377,18256100.0,3.729433,-1.227880
3,3,2004-08-24,55.792225,55.972783,51.945350,52.597363,15247300.0,6.417469,-5.726357
4,4,2004-08-25,52.542193,54.167209,52.100830,53.164113,9188600.0,1.886792,1.183658

In [25]:
df = df[['Date','Adj. Open','Adj. High','Adj. Low','Adj. Close','Adj. Volume']]
df.head()

         Date  Adj. Open  Adj. High   Adj. Low  Adj. Close  Adj. Volume
0  2004-08-19  50.159839  52.191109  48.128568   50.322842   44659000.0
1  2004-08-20  50.661387  54.708881  50.405597   54.322689   22834300.0
2  2004-08-23  55.551482  56.915693  54.693835   54.869377   18256100.0
3  2004-08-24  55.792225  55.972783  51.945350   52.597363   15247300.0
4  2004-08-25  52.542193  54.167209  52.100830   53.164113    9188600.0

In [17]:
df01.head(5)

NameError: name 'df01' is not defined

In [ ]:
#Lets write the corrected data frame
df01.to_csv('D:/PROGRAMOK/PYTHON/JUPYTER_NBS/DATA/GOOGL01.csv')
#Lets read back
df = pd.read_csv('D:/PROGRAMOK/PYTHON/JUPYTER_NBS/DATA/GOOGL01.csv')

In [ ]:
#Add a new column to see if at the end of day we win or loose
df['HL_PCT'] = ((df['Adj. High'] - df['Adj. Close'])/df['Adj. Close'])*100.0

In [ ]:
df.to_csv('D:/PROGRAMOK/PYTHON/JUPYTER_NBS/DATA/GOOGL02.csv')

In [ ]:
df.head(5)

In [ ]:
#Add a new column to see if at the end of day we win or loose
df['PCT_change'] = ((df['Adj. Close'] - df['Adj. Open'])/df['Adj. Open'])*100.0
df.to_csv('D:/PROGRAMOK/PYTHON/JUPYTER_NBS/DATA/GOOGL02.csv')
df.head(5)

In [8]:
df = pd.read_csv('GOOGL02.csv')
df.head(5)

,Unnamed: 0,Date,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume,HL_PCT,PCT_change
0,0,2004-08-19,50.159839,52.191109,48.128568,50.322842,44659000.0,3.712563,0.324968
1,1,2004-08-20,50.661387,54.708881,50.405597,54.322689,22834300.0,0.710922,7.227007
2,2,2004-08-23,55.551482,56.915693,54.693835,54.869377,18256100.0,3.729433,-1.227880
3,3,2004-08-24,55.792225,55.972783,51.945350,52.597363,15247300.0,6.417469,-5.726357
4,4,2004-08-25,52.542193,54.167209,52.100830,53.164113,9188600.0,1.886792,1.183658

In [10]:
df3 = df[['Adj. Close','HL_PCT','PCT_change','Adj. Volume']]
df3.to_csv('GOOGL03.csv')

In [12]:
df = pd.read_csv('GOOGL03.csv')
df.head(5)

   Unnamed: 0  Adj. Close    HL_PCT  PCT_change  Adj. Volume
0           0   50.322842  3.712563    0.324968   44659000.0
1           1   54.322689  0.710922    7.227007   22834300.0
2           2   54.869377  3.729433   -1.227880   18256100.0
3           3   52.597363  6.417469   -5.726357   15247300.0
4           4   53.164113  1.886792    1.183658    9188600.0

In [13]:
# Put the col name into avariable, to make the model reusable
forecast_col = 'Adj. Close'
# fill missing data (this way we not wil lose the wholelines because of one missing column)
df.fillna(-99999, inplace=True)

In [14]:
#write dataset out:
df.to_csv('GOOGL04.csv')

In [16]:
# Now we create someting as forecast or each date we shift the future value 
import math
forecast_out = int(math.ceil(0.1*len(df)))
df['label'] = df[forecast_col].shift(-forecast_out)
df.head(5)

   Unnamed: 0  Adj. Close    HL_PCT  PCT_change  Adj. Volume       label
0           0   50.322842  3.712563    0.324968   44659000.0  214.005615
1           1   54.322689  0.710922    7.227007   22834300.0  210.725489
2           2   54.869377  3.729433   -1.227880   18256100.0  208.072299
3           3   52.597363  6.417469   -5.726357   15247300.0  218.288837
4           4   53.164113  1.886792    1.183658    9188600.0  223.309335