# DATA HANDLING WITH PANDAS

<section>There is 3 steps which always must be done when we handle data in pandas:</section>
<ol>
    <li>DATA PREPARITION</li>
    <li>DATA TRANSFORMATION</li>
    <li>DATA AGGREGATION</li>
</ol>

## DATA PREPARITION

Mostly this kind of operations are invlved:
<ol>
    <li>Loading</li>
    <li>Assembling</li>
    <li><b><u>Merging</u></b></li>
    <li>Concatenating</li>
    <li>Combining</li>
    <li>Reshaping</li>
    <li>Removing</li>
</ol>

In [1]:
import numpy as np
import pandas as pd
import mysql.connector as mysql
dbCon = mysql.connect(host='localhost',user='root',password='AN003722040592la',database='sap_export_30')
# qry = "SELECT * FROM ltap LIMIT 100"
qry = "SELECT * FROM hr_dev.berkatok;"
dfto = pd.read_sql(qry,dbCon)
#qry = "SELECT * FROM invntry.usr_tbl;"
qry = "SELECT * FROM invntry.usr_tbl;"
dfusr = pd.read_sql(qry,dbCon)

In [2]:
dfto.head()

   mrkt_id                                           mrkt_lrs
0        1    [72, 97, 118, 105, 98, 195, 169, 114, 101, 115]
1        2   [195, 147, 114, 97, 98, 195, 169, 114, 101, 115]
2        3    [70, 105, 120, 32, 98, 195, 169, 114, 101, 115]
3        4  [69, 103, 121, 195, 169, 98, 32, 98, 195, 169,...
4      999  [77, 101, 103, 104, 97, 116, 195, 161, 114, 11...

In [3]:
# Kind of interesting thing:
# is the databse has collation: bi [= bINARY] then we getback
# BYTEARRAY, an not sting, here we convert them back to strings 
# dfusr['saplogin'] = dfusr['saplogin'].str.decode('utf-8')
# dfusr['teljNev'] = dfusr['teljNev'].str.decode('utf-8')
# dfusr['teamNev'] = dfusr['teamNev'].str.decode('utf-8')

In [4]:
dfusr.head()

,usr_id,usripn,usrVezNev,usrKzpNev,usrKerNev,usr_role,pwd_hash,lvl1MngId,usr_email,init_ltrs_code
0,1,AX07055,Antal,Ildikó,Ágnes,8,C70B5DD9EBFB6F51D09D4132B7170C9D20750A7852F006...,1,agnes.antal@reanult.hu,AAL
1,2,AX07206,Árvai,,László,1,C70B5DD9EBFB6F51D09D4132B7170C9D20750A7852F006...,1,laszlo.arvai@reanult.hu,LAA
2,3,AX07207,Avar,,Péter,2,C70B5DD9EBFB6F51D09D4132B7170C9D20750A7852F006...,1,peter.avar@reanult.hu,PAR
3,4,AX22816,Babiák,,Nikoleta,5,C70B5DD9EBFB6F51D09D4132B7170C9D20750A7852F006...,1,nikoleta.babiak@reanult.hu,NBK
4,5,AX16747,Bakos,,Szabolcs,1,C70B5DD9EBFB6F51D09D4132B7170C9D20750A7852F006...,1,szabolcs.bakos@reanult.hu,SBS

In [5]:
dfto.head(1)
dfto.info

<bound method DataFrame.info of    mrkt_id                                           mrkt_lrs
0        1    [72, 97, 118, 105, 98, 195, 169, 114, 101, 115]
1        2   [195, 147, 114, 97, 98, 195, 169, 114, 101, 115]
2        3    [70, 105, 120, 32, 98, 195, 169, 114, 101, 115]
3        4  [69, 103, 121, 195, 169, 98, 32, 98, 195, 169,...
4      999  [77, 101, 103, 104, 97, 116, 195, 161, 114, 11...>

In [6]:
# pd.merge(dfto,dfusr,left_on='cnfUsr',right_on='saplogin')

In [7]:
# MERGE = JOIN
# Syntax:
# pd.merge(Table_A, Table_B,columnA,columnB,[left,right,outer,inner])
# dfMrgd = pd.merge(dfto,dfusr,left_on='cnfUsr',right_on='saplogin')
# dfMrgd = pd.merge(dfto,dfusr,left_on='cnfUsr',right_on='saplogin',how='right')
# dfMrgd = pd.merge(dfto,dfusr,left_on='cnfUsr',right_on='saplogin',how='left')

In [8]:
dfMrgd.head()

NameError: name 'dfMrgd' is not defined

In [ ]:
dfMrgd.info()
dfMrgd.shape

## Lets see some PIVOTing

<em style="font-weight:bold;color:#FF6666;font-size:18px;">Stacking</em> = rotates of pivots the dataframe, converting columns to rows<br>
<em style="font-weight:bold;color:#FF6666;font-size:18px;">Unstacking</em> = Converts rows into columns

In [ ]:
frame = pd.DataFrame(np.arange(9).reshape(3,3),index=['fehér','fekete','vörös'],columns=['labda','toll','ceruza'])

In [ ]:
frame

In [ ]:
ser5 = frame.stack()

In [ ]:
ser5

In [ ]:
ser6 = frame.unstack()

In [ ]:
ser6

In [ ]:
ser7 = ser5.unstack()

In [ ]:
ser7

In [ ]:
ser8 = ser5.unstack(0)

In [ ]:
ser8

In [ ]:
# In case of unstack we can give the number of the column genertor index among the hierarchical indices
ser8 = ser5.unstack(1)

In [ ]:
ser8

## Pivot from long to wide

In this case we have a "long" datarange. For example a logfile, or something like a sensor reading fro long time.
This means, that the categries, which normally can be handled as columns, are in separated rows instead.
Lets see, how can we crate columns fom them.
----------------------------------------------------------------------------------------------

In [ ]:
longframe = pd.DataFrame({'szin':['fehér','fehér','fehér','fekete','fekete','fekete','piros','piros','piros'],
            'cikk':['labda','toll','bögre','labda','toll','bögre','labda','toll','bögre'],
            'ár':np.random.rand(9)})

In [ ]:
longframe

<p style="color:#6666CC;background-color:#050566;padding:18px;border:4px solid #050566;border-radius:8px;box-shadow:4px 4px 8px #050505;">Well, in this case the set is quite long.<br>To make it more readable, we can make a wide one from this.<br>
For this operation the DF.pivot() function comes in handy!</p>

In [ ]:
wideframe = longframe.pivot('szin','cikk')

In [ ]:
wideframe

<p 
style="color:#6666CC;background-color:#050566;padding:18px;border:4px solid #050566;border-radius:8px;box-shadow:4px 4px 8px #050505;">
As we can see here, we got  simple price table, with the color, and item names as categories.</p>

## The last element: REMOVING
--------------------------------------------------------------
In this section we see how can we remove rows, or columns

In [ ]:
frame1 = pd.DataFrame(np.arange(9).reshape(3,3),
                     index=['fehér','fekete','piros'],
                     columns=['labda','toll','csésze'])

In [ ]:
frame1

<p style="color:#6666CC;background-color:#050566;padding:18px;border:4px solid #050566;border-radius:8px;box-shadow:4px 4px 8px #050505;">
Lets see how can we get rid of a column:<br>
Easy: we just need the del command:<br>
<code>del frame1['labda']<code>
</p>

In [ ]:
del frame1['labda']

In [ ]:
frame1

<p style="color:#6666CC;background-color:#050566;padding:18px;border:4px solid #050566;border-radius:8px;box-shadow:4px 4px 8px #050505;">
Instead, if we want to delete some <b><u>rows</u></b>:<br>
Easy: we just need the <b><u>drop</u></b> command, and an <em>index</em>:<br>
<code>frame1.drop['fekete']<code>
</p>

In [ ]:
frame1 = frame1.drop('fekete')
frame1

<p style="color:#CC9999;background-color:#660505;padding:18px;border:4px solid #050566;border-radius:8px;box-shadow:4px 4px 8px #050505;">
From the above examples it easy to see, that in case of del, the modification hapens instantly on the dataframe, and you can get back the original data with re-creation of the dataset.<br>
-----------------------------------------------------------------------------------------------------------<br>
While in the case of drop, it is the contrary, you need to assign the rsult of the operation to a (new) dataframe, to have a constant result.
</p>

# -------------------------------------------------------------------------------------------------------
# DATA TRANSFORMATION
# -------------------------------------------------------------------------------------------------------

<p style="color:#6666CC;background-color:#050566;padding:18px;border:4px solid #050566;border-radius:8px;box-shadow:4px 4px 8px #050505;">
In the former section, we did the data preparition, which was mainly about <b>re-structurizing</b> our existing data, now we begin the data transformation phase.<br>
While in the former section we mostly changed the structure of the data, columns, rows, re-structuring of these ones, deleting, or create on from the other, now we focus on the data content itslef.
</p>