In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
# Some initial pandas setup
pd.set_option('display.precision',3)
pd.set_option("display.expand_frame_repr", False)
pd.set_option("display.max_rows", 25)

In [2]:
import mysql.connector as db

In [3]:
con = db.connector.connect(host='localhost',user='ax07998',password='Abcd1234.',database='hu_monitor')

NameError: name 'mysql' is not defined

In [ ]:
df = pd.read_sql('SELECT * FROM hu_monitor.kicsomdata',con)
df.info()
df.shape
df.describe()

## Lets see, what the describe() function shows us

We have 8349 records<br>
We do not need recid, and tevid, we should drop them<br>
We have kind of strange times:<br>
<ul>
    <li>-1 day 6 hours</li>
    <li>We got 17 days and 7 hours</li>
</ul>
We should chnage volume from CCM to CD3 at least
We should convert the datetime (idotartam) to number of minutes, to be able calculate line/hour
We should make consistent casing for user ids

In [ ]:
df.head()

In [ ]:
df1 = df.drop(['recid','tevid'],axis='columns')
df1.index.name='index'
df1.head()

In [ ]:
# Lets see the negative times
df1[df1['idotartam'] < pd.Timedelta(0)]
# It seems, that the deleted state records can be deleted
df1[df1['kicsAllapot'].str.contains('TÖRÖL')]
# Ok, now we can delete all the items which are DELETED
# To do this we need to find the correct selector for the problematic rows,
# and negate the selector with "~"
df2 = df1[~df1['kicsAllapot'].str.contains('TÖRÖL')]
df2.head()

In [ ]:
# Lets see the mixed case of the ipns...
df2[df2['kezdAx'].str.startswith('A')]
# We need to have same casing for ipns, so convert them all to lowercase
df2['kezdAx'] = df2['kezdAx'].str.lower()
df2['vegezAX'] = df2['vegezAX'].str.lower()
# Lets see the result, we should have none :).
df2[df2['kezdAx'].str.startswith('A')]

In [ ]:
dfTmp = df2.groupby(['vegezAX','kicsAllapot'])['sorok'].sum().reset_index()
# plt.plot(dfTmp['vegezAX'],dfTmp['sorok'])
# plt.xticks(rotation=45)
# plt.show()

In [ ]:
# Now lets check the unpack which was longer than 4 hours:
df3 = df2[~ ((df2['idotartam'] > pd.Timedelta('0 day 4 hour')) & (df2['kezdAx'] == 'ax07057'))]

In [ ]:
df3[df3['idotartam'] > pd.Timedelta('0 day 4 hour')]

In [57]:
# Lets convert idotartam to minutes
df3['percek'] = df3['idotartam'].dt.total_seconds()/60

<ipython-input-57-3492184fc4a7>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['percek'] = df3['idotartam'].dt.total_seconds()/60

In [58]:
df3.head()

        kezdAx  vegezAX                kicsAllapot   huid3       kicsomKezdDat        kicsomVegDat idotartam  sorok  totveight     totvol  totDara  percek
index
0      a141001  a141001  KICSOM VÉGE KISANY URGENT  LEE436 2020-04-24 12:27:16 2020-04-24 12:11:34  00:15:42     31     82.007  1.656e+06       70  15.700
1      a141001  a141001  KICSOM VÉGE KISANY URGENT  119384 2020-04-24 12:57:49 2020-04-24 12:28:30  00:29:19     51     57.239  2.222e+05      146  29.317
2      a141001  a141001  KICSOM VÉGE KISANY URGENT  LEE391 2020-04-24 13:13:24 2020-04-24 13:00:52  00:12:32     16     42.188  2.340e+05       28  12.533
3      a141001  a141001  KICSOM VÉGE KISANY URGENT  LEE397 2020-04-24 13:25:35 2020-04-24 13:13:31  00:12:04     14     53.676  2.977e+05       18  12.067
4      a141001  a141001  KICSOM VÉGE KISANY URGENT  119848 2020-04-24 14:00:13 2020-04-24 13:27:37  00:32:36     72     28.120  9.613e+04      264  32.600

In [59]:
df3['sor_per_ora'] = df3['sorok']/(df3['percek']/60)

<ipython-input-59-a61cbbdd3fd5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['sor_per_ora'] = df3['sorok']/(df3['percek']/60)

In [60]:
df3.head()

        kezdAx  vegezAX                kicsAllapot   huid3       kicsomKezdDat        kicsomVegDat idotartam  sorok  totveight     totvol  totDara  percek  sor_per_ora
index
0      a141001  a141001  KICSOM VÉGE KISANY URGENT  LEE436 2020-04-24 12:27:16 2020-04-24 12:11:34  00:15:42     31     82.007  1.656e+06       70  15.700      118.471
1      a141001  a141001  KICSOM VÉGE KISANY URGENT  119384 2020-04-24 12:57:49 2020-04-24 12:28:30  00:29:19     51     57.239  2.222e+05      146  29.317      104.377
2      a141001  a141001  KICSOM VÉGE KISANY URGENT  LEE391 2020-04-24 13:13:24 2020-04-24 13:00:52  00:12:32     16     42.188  2.340e+05       28  12.533       76.596
3      a141001  a141001  KICSOM VÉGE KISANY URGENT  LEE397 2020-04-24 13:25:35 2020-04-24 13:13:31  00:12:04     14     53.676  2.977e+05       18  12.067       69.613
4      a141001  a141001  KICSOM VÉGE KISANY URGENT  119848 2020-04-24 14:00:13 2020-04-24 13:27:37  00:32:36     72     28.120  9.613e+04      264  32.600      132.515

In [61]:
df3['totvol'] = df3['totvol'] / 1000

<ipython-input-61-b9de874df9ea>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['totvol'] = df3['totvol'] / 1000